@model PlanMyRun.Models.LocationModels.LocationDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocationDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasLoops)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasLoops)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathType)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","Location", new { id = Model.Id })" title="Edit"><img alt="Edit" src="@Url.Content("~/Content/assets/pencil-square.svg")" /></a>
    <a href="@Url.Action("Index","Location")" title="Back to List"><img alt="Back to List" src="@Url.Content("~/Content/assets/box-arrow-left.svg")" /></a>
</p>
