@model PlanMyRun.Models.LocationModels.LocationDetail

@{
    ViewBag.Title = "Location Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto mb-4">
            <div class="card margin">
                <div>
                    <a href="@Url.Action("Index","Location")" title="Back to List"><img alt="Back To List" src="@Url.Content("~/Content/assets/box-arrow-left.svg")" /></a>
                </div>
                <div class="card-header text-center"><h2> @ViewBag.Title</h2></div>
                <div class="row justify-content-around">
                    <a href="@Url.Action("Edit","Location", new { id = Model.Id })" title="Edit"><img alt="Edit" src="@Url.Content("~/Content/assets/pencil-square.svg")" /></a>
                    <a href="@Url.Action("Delete","Location", new { id = Model.Id })" title="Delete"><img alt="Delete" src="@Url.Content("~/Content/assets/trash.svg")" /></a>
                </div>
                <div class="card-body">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MaxDistance)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MaxDistance)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HasLoops)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HasLoops)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PathType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PathType)
                        </dd>

                        <dt>
                            # of Runs at this Location
                        </dt>
                        <dd>
                           @Model.RunsAtLocation.Count()
                        </dd>

                    </dl>
                </div>
            </div>
            </div>
        </div>
    </div>

