@model IEnumerable<PlanMyRun.Models.LocationModels.LocationListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create","Location")" title="Add"><img alt="Add" src="@Url.Content("~/Content/assets/plus-square.svg")" /></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasLoops)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasLoops)
        </td>
        <td>
            <a href="@Url.Action("Edit","Location", new { id = item.Id })" title="Edit"><img alt="Edit" src="@Url.Content("~/Content/assets/pencil-square.svg")" /></a>
            <a href="@Url.Action("Details","Location", new { id = item.Id })" title="Details"><img alt="Details" src="@Url.Content("~/Content/assets/info-square.svg")" /></a>
            <a href="@Url.Action("Delete","Location", new { id = item.Id })" title="Delete"><img alt="Delete" src="@Url.Content("~/Content/assets/trash.svg")" /></a>

        </td>
    </tr>
}

</table>
