@model PlanMyRun.Data.ApplicationUser

@{
    ViewBag.Title = "Delete User";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto mb-4">
            <div class="card margin">
                <div class="card-header text-center"><h2>@ViewBag.Title</h2></div>
                <div class="card-body">

                    <h3>Sure You Want To Delete Your Account?</h3>
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UserName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Pace)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Pace)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ZipCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ZipCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LikesHeat)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LikesHeat)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LikesRain)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LikesRain)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LikesMorning)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LikesMorning)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LikesDark)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LikesDark)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color text-center">
                                <input type="submit" value="Delete" class="btn btn-default" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

