@model PlanMyRun.MVC.Models.UpdateUserModel

@{
    ViewBag.Title = "Update";
}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto mb-4">
                <div class="card margin">
                    <div class="card-header"><h2>User Preferences</h2></div>
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Pace, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Pace, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Pace, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LikesHeat, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.LikesHeat)
                                            @Html.ValidationMessageFor(model => model.LikesHeat, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LikesRain, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.LikesRain)
                                            @Html.ValidationMessageFor(model => model.LikesRain, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LikesMorning, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.LikesMorning)
                                            @Html.ValidationMessageFor(model => model.LikesMorning, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LikesDark, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.LikesDark)
                                            @Html.ValidationMessageFor(model => model.LikesDark, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <div class="col-md-12">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }

                        </div>
                    </div>
                </div>
            </div>
        </div>

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
