@model IEnumerable<PlanMyRun.Models.RacePlanModels.RacePlanListItem>

@{
    ViewBag.Title = "My Plans";
}


    <div class="container">
        <div class=" margin text-center">
            <h2>
                My Plans



                    <a href="@Url.Action("Create","RacePlan")" title="Add"><img alt="Add" src="@Url.Content("~/Content/assets/plus-square.svg")" /></a>
         
            </h2>
        </div>


        @foreach (var item in Model)
        {
            <div class="row justify-content-center">
                <div class="col-auto mb-4">
                    <div class="card margin">
                        <div class="card-header">@Html.DisplayFor(modelItem => item.RaceName)</div>
                        <div class="row justify-content-around">
                            <a href="@Url.Action("Edit","RacePlan", new { id = item.Id })" title="Edit"><img alt="Edit" src="@Url.Content("~/Content/assets/pencil-square.svg")" /></a>
                            <a href="@Url.Action("Details","RacePlan", new { id = item.Id })" title="Details"><img alt="Details" src="@Url.Content("~/Content/assets/info-square.svg")" /></a>
                            <a href="@Url.Action("Delete","RacePlan", new { id = item.Id })" title="Delete"><img alt="Delete" src="@Url.Content("~/Content/assets/trash.svg")" /></a>
                        </div>
                        <div class="card-body">
                            <ul>

                                <li>@Html.DisplayNameFor(model => model.RaceLength): @Html.DisplayFor(modelItem => item.RaceLength)</li>
                                <li> @Html.DisplayNameFor(model => model.GoalTime):  @Html.DisplayFor(modelItem => item.GoalTime)</li>
                                <li> @Html.DisplayNameFor(model => model.RaceDate):  @String.Format("{0:d}", item.RaceDate)</li>
                                <li>@Html.DisplayNameFor(model => model.IsPublic): @Html.DisplayFor(modelItem => item.IsPublic)</li>
                                <li>@Html.DisplayNameFor(model => model.NumberOfRuns): @Html.DisplayFor(modelItem => item.NumberOfRuns)</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        }

    </div>
