@model PlanMyRun.Models.ForecastModels.ForecastDayModel


@if (Model.Prob_Precip_Pct >= 70)
{
    <div class="card bg-danger text-center ">
        <div class="card-header forecast-body">@Html.DisplayFor(model => model.Date)</div>
        <div class="card-body forecast-body">
            <ul>
                <li>@Html.DisplayFor(model => model.Temp_Max_F) | @Html.DisplayFor(model => model.Temp_Min_F)</li>
                <li>@Html.DisplayNameFor(model => model.Prob_Precip_Pct): @Html.DisplayFor(model => model.Prob_Precip_Pct)%</li>
                <li> @Html.DisplayNameFor(model => model.Sunrise_Time):  @Html.DisplayFor(model => model.Sunrise_Time)</li>
                <li> @Html.DisplayNameFor(model => model.Sunset_Time):  @Html.DisplayFor(model => model.Sunset_Time)</li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="card text-center forecast-body">

        <div class="card-header forecast-body">@Html.DisplayFor(model => model.Date)</div>
        <div class="card-body forecast-body">
            <ul>
                <li>@Html.DisplayFor(model => model.Temp_Max_F) | @Html.DisplayFor(model => model.Temp_Min_F)</li>
                <li>@Html.DisplayNameFor(model => model.Prob_Precip_Pct): @Html.DisplayFor(model => model.Prob_Precip_Pct)%</li>
                <li> @Html.DisplayNameFor(model => model.Sunrise_Time):  @Html.DisplayFor(model => model.Sunrise_Time)</li>
                <li> @Html.DisplayNameFor(model => model.Sunset_Time):  @Html.DisplayFor(model => model.Sunset_Time)</li>
            </ul>
        </div>
    </div>
}


