<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body>
    <wrapper class="d-flex flex-column">

        <nav class="navbar navbar-dark navbar-expand-md fixed-top">
            <div class="container">
                <div class="navbar-brand" id="logo">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Content/assets/logo_cropped.png" alt="logo">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">

                    <ul class="nav navbar-nav mr-auto">
                       
                        @if (Request.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Race Plans</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My Plans", "Index", "RacePlan", null, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Create New Plan", "Create", "RacePlan", null, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Available Templates", "GetTemplates", "RacePlan", null, new { @class = "nav-link" })</li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Runs</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My Runs", "Index", "Run", null, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Create New Run", "Create", "Run", null, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Schedule Runs", "GetRunsWithForecast", "Run", null, new { @class = "nav-link" })</li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Locations</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My Locations", "Index", "Location", null, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Create Location", "Create", "Location", null, new { @class = "nav-link" })</li>
                                </ul>
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>



        <main role="main" class="flex-fill">
            <div class="container body-content">
                @RenderBody()
            </div>

        </main>
        <footer>
            <div class="container-fluid">
                <div class="row justify-content-around ">
                    <p>&copy; @DateTime.Now.Year - PlanMyRun</p>
                    <div class="align-middle">
                        Forecast powered by :
                        <img src="~/Content/assets/WeatherUnlockedLogo.png" alt="WeatherUnlockedAPI" />
                    </div>

                </div>
               
            </div>
        </footer>
    </wrapper>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
