@model PlanMyRun.Models.RunModels.RunDetail


<div class="card">
    @*@if(Model==null)
    {
    <div class="card-header">@Html.DisplayFor(model => model.PlannedDistance) Mile Run For @Html.DisplayFor(model => model.RacePlanName)</div>
    <div class="card-body">
        <ul>

            <li>@Html.DisplayNameFor(model => model.EstimatedTime): @Html.DisplayFor(model => model.EstimatedTime)</li>
            <li> @Html.DisplayNameFor(model => model.ScheduleDateTime): @Html.DisplayFor(model => model.ScheduleDateTime)</li>
            <li> @Html.DisplayNameFor(model => model.LocationId): @Html.DisplayFor(model => model.LocationId)</li>
            <li>@Html.DisplayNameFor(model => model.EstimatedTime): @Html.DisplayFor(model => model.EstimatedTime) </li>
            <li>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description) </li>
            @if (Model.ActualDistance != null)
            {
                <li> @Html.DisplayNameFor(model => model.ActualDistance): @Html.DisplayFor(model => model.ActualDistance)</li>
            }
            @if (Model.ActualTime != null)
            {
                <li> @Html.DisplayNameFor(model => model.ActualTime): @Html.DisplayFor(model => model.ActualTime)</li>
            }

        </ul>

        <ul>
            <li>@Html.ActionLink("Update Run", "Edit", new { id = Model.Id })</li>
            <li>@Html.ActionLink("Advanced Stats", "Details", new { id = Model.Id })</li>
            <li>@Html.ActionLink("Delete Run", "Delete", new { id = Model.Id })</li>
        </ul>
    </div>
    }
    else{*@
    <div class="card-header">@Html.DisplayFor(model => model.PlannedDistance) Mile Run For @Html.DisplayFor(model => model.RacePlanName)</div>
    <div class="card-body">
        <ul>

            @if (Model.Description != null)
            {
                <li>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description) </li>
            }
            else
            {
                <li>@Html.DisplayNameFor(model => model.Description): N/A </li>
            }
            <li> @Html.DisplayNameFor(model => model.ScheduleDateTime): @Html.DisplayFor(model => model.ScheduleDateTime)</li>
            <li>@Html.DisplayNameFor(model => model.EstimatedTime): @Html.DisplayFor(model => model.EstimatedTime)</li>
            @if (Model.LocationId != null)
            {
                <li> @Html.DisplayNameFor(model => model.LocationId): @Html.DisplayFor(model => model.LocationId)</li>
            }
            else
            {
                <li> @Html.DisplayNameFor(model => model.LocationId):N/A</li>
            }
            <li>@Html.DisplayNameFor(model => model.EstimatedTime): @Html.DisplayFor(model => model.EstimatedTime) </li>
            @if (Model.ActualDistance != null)
            {
                <li> @Html.DisplayNameFor(model => model.ActualDistance): @Html.DisplayFor(model => model.ActualDistance)</li>
            }
            @if (Model.ActualTime != null)
            {
                <li> @Html.DisplayNameFor(model => model.ActualTime): @Html.DisplayFor(model => model.ActualTime)</li>
            }

        </ul>

        <ul>
            <li>@Html.ActionLink("Update Run", "Edit", new { id = Model.Id })</li>
            <li>@Html.ActionLink("Advanced Stats", "Details", new { id = Model.Id })</li>
            <li>@Html.ActionLink("Delete Run", "Delete", new { id = Model.Id })</li>
        </ul>
    </div>
    @*}*@
</div>


