@model PlanMyRun.Models.RunModels.RunDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RunDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RacePlanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RacePlanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RacePlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RacePlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="@Url.Action("Index","Run")" title="Back to List"><img alt="Back to List" src="@Url.Content("~/Content/assets/box-arrow-left.svg")" /></a>
        </div>

    }
</div>
