@model PlanMyRun.Models.RunModels.RunDetail

@{
    ViewBag.Title = "Delete Run";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto mb-4">
            <div class="card margin">
                <div>
                    <a href="@Url.Action("Details","Run",new { id = Model.Id })" title="Back to Details"><img alt="Back To Details" src="@Url.Content("~/Content/assets/box-arrow-left.svg")" /></a>
                </div>
                <div class="card-header text-center"><h2> @ViewBag.Title</h2></div>
                <div class="card-body">

                    <h3>Sure you want to delete?</h3>
                    <div>
                        <ul>
                            <li>@Html.DisplayNameFor(model => model.PlannedDistance): @Html.DisplayFor(model => model.PlannedDistance)</li>
                            <li>@Html.DisplayNameFor(model => model.EstimatedTime): @Html.DisplayFor(model => model.EstimatedTime)</li>
                            <li>@Html.DisplayNameFor(model => model.ScheduleDateTime): @Html.DisplayFor(model => model.ScheduleDateTime)</li>
                            <li> @Html.DisplayNameFor(model => model.RacePlanName):  @Html.DisplayFor(model => model.RacePlanName)</li>
                            <li> @Html.DisplayNameFor(model => model.LocationName): @Html.DisplayFor(model => model.LocationName)</li>
                            <li> @Html.DisplayNameFor(model => model.ActualDistance):  @Html.DisplayFor(model => model.ActualDistance)</li>
                            <li>@Html.DisplayNameFor(model => model.ActualTime):  @Html.DisplayFor(model => model.ActualTime)</li>

                        </ul>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color text-center">
                                <input type="submit" value="Delete" class="btn btn-default" />

                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

