@model PlanMyRun.Models.RunModels.RunDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RunDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RacePlanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RacePlanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RacePlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RacePlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","Run", new { id = Model.Id })" title="Edit"><img alt="Edit" src="@Url.Content("~/Content/assets/pencil-square.svg")" /></a>
    <a href="@Url.Action("Index","Run")" title="Back to List"><img alt="Back to List" src="@Url.Content("~/Content/assets/box-arrow-left.svg")" /></a>
</p>
