@model PlanMyRun.Models.RunModels.RunDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RunDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RacePlanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RacePlanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RacePlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RacePlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualTime)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")

</p>

@Html.ActionLink("Edit", "Edit", new { id = Model.Id, @class = "modal-link btn btn-success" })
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>
@Html.ActionLink("EditPartial", "Edit", "Run",
new { id = Model.Id }, new { @class = "modal-link btn btn-success" })
<!-- Modal -->

<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

<script type="text/javascript">
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();
        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>