@model IEnumerable<PlanMyRun.Models.RunModels.RunListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <header>
        <h4 class="display-4 mb-4 text-center">@DateTime.Now.ToString("MMMM")</h4>
    </header>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RacePlanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RacePlanName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
