@model IEnumerable<PlanMyRun.Models.RunModels.RunListItem>

@{
    ViewBag.Title = "My Runs";
}
    <div class=" margin text-center">
        <h2>
            My Runs
            <a href="@Url.Action("Create","Run")" title="Add"><img alt="Add" src="@Url.Content("~/Content/assets/plus-square.svg")" /></a>

        </h2>
    </div>


@foreach (var item in Model)
{
    <div class="row justify-content-center">
        <div class="col-auto mb-3">

            <div class="card margin">
                <div class="card-header"><h5>@Html.DisplayFor(modelItem => item.PlannedDistance) Mile Run For @Html.DisplayFor(modelItem => item.RacePlanName)</h5> <h6>@Html.DisplayFor(modelItem => item.ScheduledDateTime)</h6></div>
                <div class="row justify-content-around">
                    <a href="@Url.Action("Edit","Run", new { id = item.Id })" title="Edit"><img alt="Edit" src="@Url.Content("~/Content/assets/pencil-square.svg")" /></a>
                    <a href="@Url.Action("Details","Run", new { id = item.Id })" title="Details"><img alt="Details" src="@Url.Content("~/Content/assets/info-square.svg")" /></a>
                    <a href="@Url.Action("Delete","Run", new { id = item.Id })" title="Delete"><img alt="Delete" src="@Url.Content("~/Content/assets/trash.svg")" /></a>
                </div>
                
                <div class="card-body">
                    <ul>

                        <li>@Html.DisplayNameFor(model => model.EstimatedTime): @Html.DisplayFor(modelItem => item.EstimatedTime)</li>
                        @if (item.ActualTime != null)
                        {
                            <li> @Html.DisplayNameFor(model => model.ActualTime): @Html.DisplayFor(modelItem => item.ActualTime)</li>
                        }
                        else
                        {
                            <li> @Html.DisplayNameFor(model => model.ActualTime):  --:--:--</li>
                        }
                        @if (item.ActualDistance != null)
                        {
                            <li> @Html.DisplayNameFor(model => model.ActualDistance): @Html.DisplayFor(modelItem => item.ActualDistance)</li>
                        }
                        else
                        {
                            <li> @Html.DisplayNameFor(model => model.ActualDistance): --.--</li>
                        }



                    </ul>

                </div>
            </div>
        </div>
    </div>

}



