@model PlanMyRun.MVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container text-center">

    <div class="row justify-content-center">
        <div class="col-auto mb-4">
            <div class="card margin">
                <div class="card-header"><h2>@ViewBag.Title</h2></div>
                <div class="card-body">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Current Password" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                        </div>
                        <div class="form-group">

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm New Password" })

                        </div>
                        <div class="form-group">

                            <input type="submit" value="Change password" class="btn btn-default" />

                        </div>
                    }
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </div>
            </div>
        </div>
    </div>
</div>
